.blogPost {
  border: 1px solid rgb(220, 220, 220);
  margin: 10px auto;
  width: 50%;
  min-height: 200px;
  padding: 2rem;
  cursor: pointer;
}

h1 {
  margin: 5px 0;
}

h4 {
  font-family: Muli;
  margin: 0;
  color: rgb(145, 145, 145)
}
