.blogPost {
  border: 1px solid rgb(220, 220, 220);
  margin: 0 auto;
  width: 50%;
  min-height: 200px;
  padding: 2rem;
  cursor: pointer;
}

h1 {
  margin: 5px 0;
}

h4 {
  font-family: Muli;
  margin: 0;
  color: rgb(145, 145, 145)
}

.delButtonContainer {
  display:flex;
  justify-content: flex-end;
  align-content: center;
  margin: 10px auto auto 0;
  cursor: pointer;
  width:50%
}
.delButton {
  margin: 0 auto;
  cursor: pointer;
}

@media only screen and (min-width: 1500px) {
  .blogPost{
    width:40%
  }
}

@media only screen and (max-width: 650px) {
  .blogPost{
    width:60%
  }
  h1 {
    font-size: 30px
  }

  h4 {
    font-size: 12px
  }
}