.loginFormContainer {
  position: relative;
  display: flex;
  height: 500px;
  width: 300px;
  margin: auto;
  align-content: center;
  justify-content: center;
  border: 1px solid whitesmoke;
  box-shadow: 2px 5px 6px -3px rgba(111, 111, 111, 0.25);
}

.loginForm {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.loginInput {
  margin: 5px 0px;
  padding: 0 5px;
  border-style: none;
  border: 0;
  outline: none;
  border-bottom: 2px solid rgba(233, 233, 233, 0.9);
  text-align: left;
  justify-content: left;
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
  /* To fix weird rendering on mobile  */
  -webkit-appearance: none;
  border-radius: 0;
}

.loginInput:hover {
  border-bottom: 2px solid #4fb298;
}

button {
  margin: 10px 0px;
  padding: 8px;
}

button:focus {
  outline: none;
}

h1 {
  margin-bottom: 30px;
}

#demoButton {
  position: absolute;
  text-decoration: none;
  border: none;
  /* height:20px;
  width:50px; */
  bottom: 5px;
  right: 10px;
}
