.editorContainer {
  padding: 1em;
  margin: auto;
  width: 50%;
}

.editor {
  border: 1px rgb(226, 226, 226) dotted;
  padding: 1em;
  margin: 0px;
  font-family: "Muli";
  font-size: 17px;
  letter-spacing: 0.8px;
  line-height: 1.9rem;
  min-height: 250px;
}

.topButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.actionButton {
  float: right;
  width: 90px;
  cursor: pointer;
  font-family: Muli;
  font-size: 0.7rem;
}

.toggled {
  background-color: #4fb298;
  color: white;
}

.editorContainer a {
  text-decoration: none;
  color: black;
}

.editorContainer h1 {
  line-height: 3rem;
}

@media only screen and (min-width: 1500px) {
  .editorContainer {
    width: 50%;
  }
}
@media only screen and (min-width: 650px) and (max-width: 1500px) {
  .editorContainer {
    width: 70%;
  }
}

@media only screen and (max-width: 650px) {
  .editorContainer {
    width: 90%;
  }
  .editorContainer h1 {
    font-size: 40px;
  }

  .editorContainer h4 {
    font-size: 12px;
  }
}
