.editorContainer {
  padding: 1em;
  margin: auto;
  width:50%
}

.editors {
  border: 1px rgb(226, 226, 226) dotted;
  padding: 1em;
  margin: 0px;
  font-family: 'Muli';
  font-size: 17px;
  letter-spacing: 0.8px;
  line-height: 1.9rem;
  min-height: 800px;
}

.actionButton {
  float:right;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  line-height: 3rem
}